<div class="main">
    <div class="card">
        <div class="image imgOne"></div>
        <p>Angular list of prohibited words</p>
        <hr>
        <a href="/works/cenzor" (click)='show()'>Details</a>
    </div>

    <div class="card">
        <div class="image imgTwo"></div>
        <p>Angular task list</p>
        <hr>
        <a href="/works/task" (click)='show()'>Details</a>
    </div>

    <div class="card">
        <div class="image imgThree"></div>
        <p>Angular users list</p>
        <hr>
        <a href="/works/users" (click)='show()'>Details</a>
    </div>
</div>